**/.*.xopp
**/.*.pdf
.*.xopp
.*.pdf
Laboratorio/TP1/TP1.ipynb
Laboratorio/TP1/TP1.py
Laboratorio/TP1/TP1.py.lprof
Laboratorio/TP2/TP2.ipynb
Laboratorio/TP2/TP2.py
Laboratorio/TP2/TP2.py.lprof
.vscode/*